Repository googleapis/python-logging, pull requests merged in 2020-12, with the labels that each got.

#108 chore: require samples checks
  .github/sync-repo-settings.yaml
Labels: api: logging, cla: yes, samples

#106 fix: remove duplicate stream handler
  google/cloud/logging_v2/handlers/handlers.py
Labels: api: logging, cla: yes, type: bug

#97 chore: Re-generated to pick up changes from googleapis.
  google/cloud/logging_v2/proto/logging_config.proto
  google/cloud/logging_v2/proto/logging_metrics.proto
  google/cloud/logging_v2/services/config_service_v2/async_client.py
  google/cloud/logging_v2/services/config_service_v2/client.py
  google/cloud/logging_v2/services/config_service_v2/pagers.py
  google/cloud/logging_v2/services/config_service_v2/transports/base.py
  google/cloud/logging_v2/services/config_service_v2/transports/grpc.py
  google/cloud/logging_v2/services/config_service_v2/transports/grpc_asyncio.py
  google/cloud/logging_v2/services/metrics_service_v2/async_client.py
  google/cloud/logging_v2/services/metrics_service_v2/client.py
  google/cloud/logging_v2/types/__init__.py
  google/cloud/logging_v2/types/logging_config.py
  google/cloud/logging_v2/types/logging_metrics.py
  samples/snippets/noxfile.py
  synth.metadata
  tests/unit/gapic/logging_v2/test_config_service_v2.py
Labels: api: logging, cla: yes, context: partial

#113 fix: Remove keyword only argument for RequestsMiddleware
  google/cloud/logging_v2/handlers/middleware/request.py
  tests/unit/handlers/middleware/test_request.py
  tests/unit/handlers/test__helpers.py
Labels: api: logging, cla: yes

#117 fix: Add submodule imports for handlers to logging alias
  google/cloud/logging/handlers/__init__.py
  google/cloud/logging/handlers/middleware/__init__.py
  google/cloud/logging/handlers/transports/__init__.py
  tests/unit/test_logging_shim.py
Labels: api: logging, cla: yes, lang: python

#118 test: use logging API in unit tests when possible
  tests/unit/handlers/test_app_engine.py
  tests/unit/handlers/test_container_engine.py
  tests/unit/handlers/test_handlers.py
  tests/unit/handlers/transports/test_background_thread.py
  tests/unit/handlers/transports/test_base.py
  tests/unit/handlers/transports/test_sync.py
  tests/unit/test__gapic.py
  tests/unit/test__http.py
  tests/unit/test_client.py
  tests/unit/test_entries.py
  tests/unit/test_logger.py
  tests/unit/test_metric.py
  tests/unit/test_sink.py
Labels: api: logging, cla: yes

#127 chore: Re-generated to pick up changes from synthtool.
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  noxfile.py
  samples/snippets/README.rst
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: logging, cla: yes, context: partial

#131 fix: remove client recv msg limit fix: add enums to `types/__init__.py`
  google/cloud/logging_v2/services/config_service_v2/transports/__init__.py
  google/cloud/logging_v2/services/config_service_v2/transports/grpc.py
  google/cloud/logging_v2/services/config_service_v2/transports/grpc_asyncio.py
  google/cloud/logging_v2/services/logging_service_v2/transports/__init__.py
  google/cloud/logging_v2/services/logging_service_v2/transports/grpc.py
  google/cloud/logging_v2/services/logging_service_v2/transports/grpc_asyncio.py
  google/cloud/logging_v2/services/metrics_service_v2/transports/__init__.py
  google/cloud/logging_v2/services/metrics_service_v2/transports/grpc.py
  google/cloud/logging_v2/services/metrics_service_v2/transports/grpc_asyncio.py
  google/cloud/logging_v2/types/__init__.py
  synth.metadata
  tests/unit/gapic/logging_v2/test_config_service_v2.py
  tests/unit/gapic/logging_v2/test_logging_service_v2.py
  tests/unit/gapic/logging_v2/test_metrics_service_v2.py
Labels: api: logging, cla: yes, context: full

#120 feat: support http_request field
  google/cloud/logging_v2/handlers/_helpers.py
  google/cloud/logging_v2/handlers/app_engine.py
  google/cloud/logging_v2/handlers/transports/background_thread.py
  google/cloud/logging_v2/handlers/transports/base.py
  google/cloud/logging_v2/handlers/transports/sync.py
  tests/unit/handlers/test__helpers.py
  tests/unit/handlers/test_app_engine.py
  tests/unit/handlers/transports/test_background_thread.py
  tests/unit/handlers/transports/test_sync.py
Labels: api: logging, cla: yes, type: feature request

#140 docs: fix usage guide
  docs/usage.rst
  samples/snippets/requirements.txt
  samples/snippets/usage_guide.py
  samples/snippets/usage_guide_test.py
Labels: api: logging, cla: yes

#142 chore: update python versions in CONTRIBUTING
  CONTRIBUTING.rst
  synth.metadata
Labels: api: logging, cla: yes, context: partial

#144 chore: update precommit version and exclude `.nox` from linting
  .flake8
  .pre-commit-config.yaml
  synth.metadata
Labels: api: logging, cla: yes, context: partial
