Repository googleapis/python-logging, pull requests merged in 2021-02, with the labels that each got.

#173 docs: add python std_logging to sample browser
  samples/snippets/handler.py
Labels: api: logging, cla: yes, samples

#168 chore: update templates
  .github/header-checker-lint.yml
  .trampolinerc
  logging-v2-py.tar.gz
  noxfile.py
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: logging, cla: yes, context: partial

#178 tests: update environment test script path
  .kokoro/environment/appengine_flex_container/common.cfg
  .kokoro/environment/appengine_flex_python/common.cfg
  .kokoro/environment/appengine_standard/common.cfg
  .kokoro/environment/cloudrun/common.cfg
  .kokoro/environment/compute/common.cfg
  .kokoro/environment/functions/common.cfg
  .kokoro/environment/kubernetes/common.cfg
  .kokoro/environment_tests.sh
Labels: api: logging, cla: yes

#179 tests: clean up properly after completion
  .kokoro/environment_tests.sh
Labels: api: logging, cla: yes

#177 chore: Re-generated to pick up changes from synthtool.
  CONTRIBUTING.rst
  MANIFEST.in
  synth.metadata
Labels: api: logging, cla: yes, context: partial

#171 chore: Re-generated to pick up changes from googleapis.
  .kokoro/test-samples.sh
  .kokoro/trampoline_v2.sh
  google/cloud/logging_v2/services/config_service_v2/client.py
  google/cloud/logging_v2/services/config_service_v2/transports/grpc.py
  google/cloud/logging_v2/services/config_service_v2/transports/grpc_asyncio.py
  google/cloud/logging_v2/services/logging_service_v2/client.py
  google/cloud/logging_v2/services/logging_service_v2/transports/grpc.py
  google/cloud/logging_v2/services/logging_service_v2/transports/grpc_asyncio.py
  google/cloud/logging_v2/services/metrics_service_v2/client.py
  google/cloud/logging_v2/services/metrics_service_v2/transports/grpc.py
  google/cloud/logging_v2/services/metrics_service_v2/transports/grpc_asyncio.py
  synth.metadata
  tests/unit/gapic/logging_v2/test_config_service_v2.py
  tests/unit/gapic/logging_v2/test_logging_service_v2.py
  tests/unit/gapic/logging_v2/test_metrics_service_v2.py
Labels: api: logging, cla: yes, context: partial
