Repository googleapis/python-logging, pull requests merged in 2021-03, with the labels that each got.

#199 chore: report library test failures to flakybot
  .gitignore
  .kokoro/build.sh
  .kokoro/test-samples.sh
  .kokoro/trampoline_v2.sh
  noxfile.py
  synth.metadata
Labels: api: logging, cla: yes, context: partial

#206 test: install pyopenssl for mtls testing
  noxfile.py
  synth.metadata
Labels: api: logging, cla: yes, context: full

#198 chore: Re-generated to pick up changes from googleapis.
  google/cloud/logging_v2/services/config_service_v2/async_client.py
  google/cloud/logging_v2/services/config_service_v2/pagers.py
  google/cloud/logging_v2/services/logging_service_v2/async_client.py
  google/cloud/logging_v2/services/logging_service_v2/client.py
  google/cloud/logging_v2/services/logging_service_v2/pagers.py
  google/cloud/logging_v2/services/metrics_service_v2/async_client.py
  google/cloud/logging_v2/services/metrics_service_v2/pagers.py
  synth.metadata
  tests/unit/gapic/logging_v2/__init__.py
  tests/unit/gapic/logging_v2/test_config_service_v2.py
  tests/unit/gapic/logging_v2/test_logging_service_v2.py
  tests/unit/gapic/logging_v2/test_metrics_service_v2.py
Labels: api: logging, cla: yes, context: full, context: partial

#213 chore: upgrade gapic-generator-python to 0.42.2
  google/cloud/logging_v2/types/__init__.py
  synth.metadata
Labels: api: logging, cla: yes, context: full

#214 chore: update gapic-generator-python to 0.40.11
  logging-v2-py.tar.gz
  synth.metadata
Labels: api: logging, cla: yes, context: full

#193 feat: Add json setting to allow unicodes to show in log instead of ascii ch…
  google/cloud/logging_v2/handlers/_helpers.py
  tests/unit/handlers/test_container_engine.py
Labels: api: logging, cla: yes

#218 test: rennovate bot pulls in submodule changes
  renovate.json
Labels: api: logging, cla: yes

#225 chore: delete sync-repo-settings.yml
  .github/sync-repo-settings.yml
Labels: api: logging, cla: yes

#223 chore: Re-generated to pick up changes from synthtool.
  .pre-commit-config.yaml
  renovate.json
  synth.metadata
Labels: api: logging, cla: yes, context: partial

#234 fix: use correct retry deadline
  google/cloud/logging_v2/services/config_service_v2/async_client.py
  google/cloud/logging_v2/services/config_service_v2/transports/base.py
  google/cloud/logging_v2/services/config_service_v2/transports/grpc.py
  google/cloud/logging_v2/services/config_service_v2/transports/grpc_asyncio.py
  google/cloud/logging_v2/services/logging_service_v2/async_client.py
  google/cloud/logging_v2/services/logging_service_v2/transports/base.py
  google/cloud/logging_v2/services/logging_service_v2/transports/grpc.py
  google/cloud/logging_v2/services/logging_service_v2/transports/grpc_asyncio.py
  google/cloud/logging_v2/services/metrics_service_v2/async_client.py
  google/cloud/logging_v2/services/metrics_service_v2/transports/base.py
  google/cloud/logging_v2/services/metrics_service_v2/transports/grpc.py
  google/cloud/logging_v2/services/metrics_service_v2/transports/grpc_asyncio.py
  synth.metadata
Labels: api: logging, cla: yes, context: full

#238 fix: detect project from environment instead of from logger
  google/cloud/logging_v2/handlers/_monitored_resources.py
  google/cloud/logging_v2/handlers/app_engine.py
  tests/unit/handlers/test__monitored_resources.py
  tests/unit/handlers/test_app_engine.py
Labels: api: logging, cla: yes

#230 build(python): fail nox sessions if a python version is missing
  noxfile.py
  synth.metadata
Labels: api: logging, cla: yes, context: full
