Repository googleapis/python-logging, pull requests merged in 2022-10, with the labels that each got.

#644 fix(deps): allow protobuf 3.19.5
  setup.py
  testing/constraints-3.7.txt
Labels: api: logging, size: xs

#651 chore: update blunderbuss asignments
  .github/blunderbuss.yml
Labels: api: logging, size: xs

#649 feat: set partial_success to default to true for batched logs
  google/cloud/logging_v2/_gapic.py
  google/cloud/logging_v2/_http.py
  google/cloud/logging_v2/logger.py
  tests/unit/test__gapic.py
  tests/unit/test__http.py
  tests/unit/test_logger.py
Labels: api: logging, size: m

#650 feat: include context on batch log errors
  google/cloud/logging_v2/logger.py
  tests/unit/test_logger.py
Labels: api: logging, size: m

#654 fix: json fields dictionary has modification side effect
  google/cloud/logging_v2/handlers/handlers.py
  tests/unit/handlers/test_handlers.py
  tests/unit/handlers/test_structured_log.py
Labels: api: logging, size: s

#657 feat: Add support for custom JSON encoders
  google/cloud/logging_v2/handlers/structured_log.py
  tests/unit/handlers/test_structured_log.py
Labels: api: logging, size: m
