Repository googleapis/python-logging, pull requests merged in 2023-09, with the labels that each got.

#783 chore(sample): update structured log write sample to set severity
  samples/snippets/snippets.py
Labels: api: logging, samples, size: xs

#758 fix: Handle exceptions raised when fetching Django request data
  google/cloud/logging_v2/handlers/_helpers.py
  tests/unit/handlers/test__helpers.py
Labels: api: logging, stale: extraold, size: s

#788 feat: add cloud_run_job monitored resource type.
  google/cloud/logging_v2/handlers/_monitored_resources.py
  tests/unit/handlers/test__monitored_resources.py
Labels: api: logging, size: m
